<h1>Users list</h1>
<div id="index_page">
  <div class="search">
    <%= form_tag(admin_users_path, method: :get, remote: true) do %>
      <%= text_field_tag :term, params[:term] %>
      <%= select_tag :role, options_for_select( [['All', 'all']] + User.roles.keys.map { |r| [r.titleize, r]}, params[:role]) %>
      <%= submit_tag 'Search', name: nil %>
    <% end %>
  </div>

  <table>
    <thead>
      <tr>
        <th>username</th>
        <th>email</th>
        <th>role</th>
      </tr>
    </thead>
    <tbody id='users'>
      <%= render @users %>
    </tbody>
  </table>
  <div class="paginate">
    <%= will_paginate @users %>
  </div>
</div>
